/*FUENTES */

@font-face {
    font-family: "nevis";
    src: url("fonts/nevis.eot");
    src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"), url("fonts/nevis.woff") format("woff"), url("fonts/nevis.ttf") format("truetype"), url("fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "fajala";
    src: url("fonts/FjallaOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-size: normal;
}


/*ESTILOS GENERALES*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("../img/paven.png");
}

a {
    color: #529125;
}

a:visited {
    color: #529125;
}

a:hover {
    color: #285616;
}


/*CABECERA*/

#header {
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

#header a {
    text-decoration: none;
}

#header #logotipo {
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}

#header #logotipo img {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;
}

#header h1 {
    text-align: center;
    font-size: 40px;
    color: #70b231;
    font-family: "nevis";
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms;
}

#header h1:hover {
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}

#header h1 a {
    color: #70b231;
}


/*BARRA DE NAVEGACION*/

#nav {
    width: 100%;
    height: 40px;
    background: #333333;
    color: white;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}

#nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 400px;
}

#nav>ul>li {
    line-height: 40px;
    float: left;
    border-right: 1px solid gray;
    transition: all 300ms;
}

#nav>ul>li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

#nav>ul>li a:first-child {
    border-left: 1px solid gray;
}

#nav>ul>li:hover {
    background-color: #70b231;
    box-shadow: 0px 0px 4px green inset;
}


/*CONTENIDO*/

#content {
    width: 200px;
    float: left;
    margin: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;
    font-family: sans-serif, Arial, Helvetica;
}

#aside div a {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#aside .widget {
    display: block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #333333;
}

#aside .widget:last-child {
    margin-bottom: 20px;
}

#aside h3 {
    display: block;
    color: #333333;
    width: 180px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #f2f3f2;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

#aside li {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square;
}


/*CONTENIDO PRINCIPAL*/

#sections .contenido {
    float: right;
    width: 75%;
    font-family: sans-serif, Arial, Helvetica;
    margin-right: 20px;
}

#sections h2 {
    font-family: "fajala";
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#sections {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333333;
    font-size: 16px;
    overflow: hidden;
}

#sections .article {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#imagen {
    width: 145px;
    margin: 0px auto;
    padding-top: 20px;
    float: left;
}

#imagen img {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 130px;
    height: 300px;
    float: left;
}

#ITL {
    width: 160px;
    height: 200px;
    margin: 0px auto;
    padding-top: 20px;
    float: left;
}

#ITL img {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 130px;
    height: 130px;
    float: left;
}

#present {
    margin-top: 20px;
}


/*FOOTER*/

.clearfix {
    float: none;
    clear: both;
}

#footer {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-top: 40px;
    background-color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}